RewriteEngine On

# If the requested filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the requested filename is not a regular file that exists
RewriteCond %{REQUEST_FILENAME} !-f
# Route everything to index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Security - prevent access to various files
<FilesMatch "\.(json|log|env)$">
    Deny from all
</FilesMatch>